.hover-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  flex: 1;
  min-width: 150px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card-icon {
  font-size: 32px;
  color: #0a8a42;
  margin-bottom: 10px;
}

.hover-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: #0b6a3a;
}

.hover-card p {
  font-size: 14px;
  color: #555;
}
