
.auth-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #d4fc79, #96e6a1);
  font-family: "Poppins", sans-serif;
}


.card {
  background: #fff;
  width: 400px;
  padding: 2.5rem;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}


.brand-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #145214;
  margin-bottom: 5px;
}
.tagline {
  color: #144814;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}


.form-title {
  font-size: 1.6rem;
  color: #144814;
  margin-bottom: 0.8rem;
}


.input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  background: #f7f7f7;
  font-size: 15px;
}
.input:focus {
  outline: none;
  background: #fff;
  border-color: #145214;
}


.btn {
  width: 100%;
  margin-top: 18px;
  padding: 14px;
  background: #145214;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}
.btn:hover {
  background: #0f400f;
}


.alert {
  background: #ffe5e5;
  color: #b30000;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.success-alert {
  background: #e8ffea;
  color: #0b6a19;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.link-row {
  margin-top: 14px;
  color: #222;
  font-size: 0.95rem;
}
.link-row a {
  color: #145214;
  font-weight: bold;
  text-decoration: none;
}
.link-row a:hover {
  text-decoration: underline;
}
